In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from urllib import request
import urllib.request
import numpy as np
import re

In [2]:
df = pd.read_csv("data/06 df_earthquakes.csv", index_col=0)

In [3]:
case_list = [814,838,839,869, 870, 893, 894,907,927, 945,958,959, 1246,1260,1271]
for i in case_list:
    case = list(df.loc[i, ])
    case_corrected = [df.loc[i-1,"Date"], 
                  case[0], 
                  df.loc[i-1,"Place"], 
                 case[1],
                 case[2],
                df.loc[i-1,"Fatalities"],
                 case[3],
                  case[4],
                 case[5]]
    df.loc[i,] = case_corrected

In [4]:
case_list = [758]

for i in case_list:
    case = list(df.loc[i, ])
    case_corrected = [df.loc[i-1,"Date"], #date
                  case[0], #time
                  case[1], 
                 case[2], #lat
                 case[3], #long
                case[4], # fat
                 case[5], #mag
                  case[6], #comment
                 case[7]] #source
    df.loc[i,] = case_corrected

In [5]:
case_list = [1041]

for i in case_list:
    case = list(df.loc[i, ])
    case_corrected = [df.loc[i-1,"Date"], #date
                  case[0], #time
                  case[1], 
                 case[2], #lat
                 case[3], #long
                df.loc[i-1,"Fatalities"], # fat
                 case[4], #mag
                  case[5], #comment
                 case[6]] #source
    df.loc[i,] = case_corrected

In [6]:
case_list = [558,612,656,797,800,822,836,845,908,960,991,1054,1206,1215]

for i in case_list:
    case = list(df.loc[i, ])

    case_corrected = [case[0], #date
                  case[1], #time
                  df.loc[i-1,"Place"], 
                 case[2], #lat
                 case[3], #long
                case[4], # fat
                 case[5], #mag
                  case[6], #comment
                 case[7]] #source
    df.loc[i,] = case_corrected

In [7]:
case_list = [633,650,759,995,1077,1207]

for i in case_list:
    case = list(df.loc[i, ])
    case_corrected = [case[0], #date
                  case[1], #time
                  df.loc[i-1,"Place"], 
                 case[2], #lat
                 case[3], #long
                df.loc[i-1,"Fatalities"], # fat
                 case[4], #mag
                  case[5], #comment
                 case[6]] #source
    df.loc[i,] = case_corrected

In [8]:
df = df.replace("?","").replace(r'^\s*$', np.nan, regex=True)

In [9]:
df['Place'] = df['Place'].str.split(r'see').str.get(0)
df['Place'] = df['Place'].str.strip()

## Country

In [10]:
df['Country'] = df['Place'].str.split(' ').str[-1]

In [11]:
pattern = '|'.join(['\(', '\)', ',', '\.',';'])
df["Country"] = df["Country"].str.replace(pattern, "")
df.loc[(df["Country"]=="States") |(df["Country"]=="USA")] = df.loc[(df["Country"]=="States") |(df["Country"]=="USA")].replace("States", "United States").replace("USA", "United States")
df.loc[df["Country"]=="Rome"] = df.loc[df["Country"]=="Rome"].replace("Rome", "Italy")
df.loc[df["Country"]=="1428"] = df.loc[df["Country"]=="1428"].replace("1428", "Spain")
df.loc[df["Country"]=="Islands"] = df.loc[df["Country"]=="Islands"].replace("Islands", "Salomon Islands")
df.loc[df["Country"]=="Earthquake)"] = df.loc[df["Country"]=="Earthquake)"].replace("Earthquake)", "Bangladesh")
df.loc[df["Country"]=="zone"] = df.loc[df["Country"]=="zone"].replace("zone", "Cascadia")
df.loc[df["Country"]=="Burma"] = df.loc[df["Country"]=="Burma"].replace("Burma", "Burma/Myanmar")

<ipython-input-11-d42aab525a0a>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Country"] = df["Country"].str.replace(pattern, "")

In [12]:
countries_clean = ['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei ',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 "CÃ´te d'Ivoire",
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Congo-Brazzaville)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar/Burma',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine State',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [13]:
#data_unwanted_clean = data_unwanted[data_unwanted.Country.isin(countries_clean)==True]
data_unwanted = df[df.Country.isin(countries_clean)==False]

In [14]:
dictionary_place = {'Rangpur, Bangladesh (1787 Bengal Earthquake)':'Bangladesh',
                    'Rhodes':'Greece',
                    'Scotia Sea':'UK',
                    'Sea of Okhotsk':'Russia',
                    'Shanxi, Qing dynasty':'China',
                    'South Africa':'South Africa',
                    'Southeast of the Loyalty Islands, New Caledonia':'France',
                    'Southern East Pacific Rise':'Chile',
                    'Southern MidâAtlantic Ridge':'UK',
                    'Southwestern Kashmir':'India',
                    'Strait of Gibraltar':'Morocco',
                    'Sumatra':'Indonesia',
                    'The Levant': 'Jordan',
                    'Tibet':'China',
                    'Tyrrhenian Sea':'Italy',
                    'West Sumatra, Indoensia':'Indonesia',
                    'Zangezur Mountains':'Armenia',
                    'near Samoa':'Samoa',
                    'offshore, Yorkshire, North Sea, United Kingdom':'UK',
                    'Carlsberg Ridge':'India',
                    'Central Java':'Indonesia',
                    'Eastern Mediterranean':'Syria',
                    'Eastern Mediterranean;':'Syria', 
                    'Flores Sea': 'Indonesia',
                    'Fort Tejon, California, USA (San Andreas fault from Parkfield to Wrightwood)':'United States',
                    'Hayward, California, USA, Hayward Fault Zone':'United States',
                    'Honshu':'Japan',
                    'Kamchatka Peninsula, Soviet Union':'Russia',
                    'Kamchatka, Soviet Union':'Russia',
                    'Loyalty Islands, New Caledonia':'France',
                    'Macquarie Fault Zone':'New Zealand',
                    'Molucca Sea':'Indonesia',
                    'Near East':'Jordan', #Near East
                    'Near Uganda-Democratic Republic of the Congo border':'Democratic Republic of the Congo',
                    'Near Yunnan-Sichuan border':'China',
                    'Nias, Simeulue':'Indonesia',
                    'North Atlantic':'Morocco',
                    'North of Ascension Island':'UK',
                    'Northeastern Bay of Bengal[83]':'India',
                    'Bengal[84]':'India',
                    'Northern MidâAtlantic Ridge':'Denmark',
                    'Northwestern Kashmir':'India',
                    'Off the coast of Central America':'El Salvador',
                    'Asia minor':'Turkey','Fiji region':'Fiji',
                    'Cuba region':'Cuba',
                    'Dominican Republic region':'Dominican Republic',
                    'Guam region':'United States of America',
                    'Philippine Islands region':'Philippines',
                    'PanamaâCosta Rica border region':'Panama',
                    'Puerto Rico region':'Puerto Rico',
                    'Samoa Islands region':'Samoa',
                    'SichuanâChongqing border region':'China',
                    'Tonga region':'Tonga',
                    'Vanuatu region':'Vanuatu',
                    'PeruâBrazil border region':'Peru','Falkland Islands region':'UK',
                    'South Georgia Island region':'UK',
                    'South Sandwich Islands region':'UK',
                    'Bali Sea':'Indonesia',
                    'Banda Sea':'Indonesia',
                    'Banda Sea, Dutch East Indies':'Indonesia',
                    'Batu Islands, Sumatra':'Indonesia',
                    'Banja Luka, Bosnia and Herzegovina':'Bosnia and Herzegovina',
                    'Beirut, Tyre, Tripoli':'Lebanon',
                    'Cape Shabla-Kaliakra, Black Sea,':'Bulgaria',
                    'Cascadia subduction zone':'Canada',
                    'Celebes Sea':'Philippines',
                    'Chios, ÃeÅme, AlaÃ§atÄ±':'Turkey',
                    'Costa Rica':'Costa Rica',
                    'Crete, Heraklion':'Greece',
                    'Czech Republic':'Czech Republic',
                    'Dominican Republic':'Dominican Republic',
                    'PeruâBrazil border region':'Peru',
                    'Asia minor':'Turkey',
                    'Northeastern Bay of Bengal[84]':'India',
                    'Portugal and Galicia coasts':'Portugal',
                    'British India, Tibet':'India',
                    'Italy, L\'Aquila':'Italy',
                    'Taiwan region':'China',
                    'Xinjiang, Qing dynasty':'China'}

try:
    for k,v in dictionary_place.items():
        data_unwanted["Country"].loc[data_unwanted["Place"]==k] = v
  #  if v not in countries_clean:
#countries_clean.append(v)
except:        
    print("A problem was raised try again")

/Users/jppalmab/Anaconda/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [15]:
dictionary_country = {'Georgia':'United States',
                      'USSR':'Russia',
                      'Congo':'Democratic Republic of the Congo',
                      'Indoensia':'Indonesia',
                      'United States':'United States of America',
                      'UK':'United Kingdom', 
                      'Guinea':'Papua New Guinea','California':'United States',
                      'AssamâTibet':'India',
                      'Sicily':'Italy',
                      'Zealand':'New Zealand',
                      'Antioch':'Syria',
                      'Tobago':'Trinidad and Tobago',
                      'Salomon Islands':'Papua New Guinea',
                      'Solomon Islands':'Papua New Guinea',
                      'Myanmar':'Myanmar/Burma',
                      'Burma/Myanmar':'Myanmar/Burma',
                      'Palestine':'Palestine State', 
                      'Alaska':'United States of America', 
                      'Taiwan':'China',
                      'Persia':'Iran',
                      'Hawaii':'United States of America', 
                      'Bautista':'United States of America',
                      'Macedonia':'North Macedonia'}

try:
    for k,v in dictionary_country.items():
        data_unwanted["Country"].loc[data_unwanted["Country"]==k] = v
except:        
    print("A problem was raised try again")

In [16]:
indexes_un = data_unwanted.index
indexes_un = list(indexes_un)

try:
    for i in indexes_un:
        for e in countries_clean:
            if e in data_unwanted.loc[i,"Place"]:
                data_unwanted["Country"].loc[i] = e
            else:
                next

except:
    print('something went wrong')

In [17]:
#data_unwanted = data_unwanted[data_unwanted.Country.isin(countries_clean)==False]
data_unwanted["Country"].unique()

array(['Portugal', 'Turkey', 'Syria', 'Lebanon', 'Jordan', 'Iran',
       'Italy', 'Armenia', 'United Kingdom', 'Greece', 'Japan',
       'United States of America', 'China', 'Canada', 'India',
       'Trinidad and Tobago', 'Bangladesh', 'United States', 'Nepal',
       'Mexico', 'Palestine State', 'Myanmar/Burma', 'Indonesia',
       'New Zealand', 'Papua New Guinea', 'Bulgaria', 'Ecuador',
       'Uzbekistan', 'Philippines', 'Russia', 'Peru',
       'Dominican Republic', 'North Macedonia', 'Uganda',
       'Bosnia and Herzegovina', 'Solomon Islands', 'Morocco',
       'El Salvador', 'Egypt', 'Democratic Republic of the Congo',
       'Serbia', 'Fiji', 'Kazakhstan', 'Panama', 'France', 'Costa Rica',
       'Dominica', 'South Africa', 'Tanzania', 'Afghanistan', 'Australia',
       'Czech Republic', 'Tonga', 'Samoa', 'Haiti', 'Vanuatu', 'Pakistan',
       'Chile', 'Denmark', 'Georgia', 'Tajikistan', 'Turkmenistan',
       'Iraq', 'Vietnam', 'Puerto Rico', 'Cuba', 'Slovenia', 'Croatia'],
      dtype=object)

In [18]:
#Imput new values to df with cleaned Country 

for i in list(data_unwanted.index):
    df['Country'].loc[i] = data_unwanted['Country'].loc[i]

#remained
df['Country'].loc[df["Country"] == "Solomon Islands"] = 'Papua New Guinea'

print("All done")

All done

In [ ]:
#df['Country'].unique()
#df.loc[df['Country']=="dynasty"]
#df.loc[1265:1275]

## Year

In [19]:
df["Year"] = np.nan

In [20]:
for i in range(0,len(df)):
    text = df.loc[i,"Date"]
    numbers = [int(n) for n in text.split() if n.isdigit()]
    for d in numbers:
        d = str(d)
        if len(d) == 4 or len(d) == 3 and d.isdigit():
            df["Year"].loc[i] = d

/Users/jppalmab/Anaconda/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [21]:
df["Year"].loc[df["Date"]=='60 BC'] = 60
df["Year"].loc[df["Date"]=='17 AD'] = 17
df["Year"].loc[df["Date"]=='February 5, 62 AD'] = 62

In [22]:
df['Year'] = df['Year'].astype('int')
#df['Year'] = df['Year'].astype(np.float).astype("Int32")

In [23]:
for i in range(0, len(df)):
    if "BC" in df.loc[i,"Date"]:
        df.loc[i,"Year"] = -df.loc[i,"Year"]

## Magnitude

In [24]:
df["Magnitude"].unique()

array([nan, '7.2 (approx)', 'â', '8.5', '5â6', '7.5', '~7', '8.5+', '7.0',
       '7 to 7.5 (approx)', '7.3', '7.9 (approx)', '8.6â9.0',
       '6 (approx)', '7.2 (>VIII)', 'â¥ 7.0', '7.1', '6.3', '7.2',
       '6.4-7.3', '7.3â7.5[31] â7.7[32]', '7.6', '7.0â7.5', '7 (approx)',
       '6.8', '~8', '6', '6.9', '6.2', '5.8', '6.7', '8.6', '8.2',
       '8.2â8.3', '5.5', '9.25', '7.9', '7.5 (X)', '8.2-8.8', '7.3â7.9',
       '8', '7', '7 (approx) (X)', '7.8', '7.4â8.0', '9', '7.7', '8.7',
       '6.5', '6.6', '8.3', '8.0', '8.6â8.8', '5.9', '7.4', 'up to 8.8',
       '6.2 to 6.5', '7.75', '8.9(9.0)', '8.4', '8.1', '7.7â8.0',
       '6.9â7.5', '7.1-7.5', '7.7â8.2', '7.7â7.9', '8.8â9.2', '>7.0',
       '7.8-8.0', '8.1-8.2', '7.5â8.8', '8.0 (approx)', '7.7-8.3 Mw',
       '7.3-7.5', '9.0', '8.8', '6.3â7.5', '7.0â7.3', '6.4',
       '8.0â8.1 (approx)', '6.0', '6.1', '8.3â8.5', '8.35', '8.2â8.4',
       '7.7-8.0', '5.6', '7.9â8.2', '7.2 and 7.5', '8.0 & 7.8', '5.7',
       '9.5', '5.4', '9.2', '8.0, 8.1', '7.1[99]', '4.1', '5.0', '4.2',
       '4.7', '5.3', '4.6', '4.4', '4.8', '5.1', '3.8', '5.2', '9.1',
       '4.9', '2.7', '2.2', '4.3', '3.7', '3.5', '4.5', '4.0', '3.6',
       '3.9', '2.8'], dtype=object)

In [25]:
df["Mag"] = df["Magnitude"]
df["Mag"] = df["Mag"].str.replace("[\(\[].*?[\)\]]","")

<ipython-input-25-5e10ee7e4b6c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Mag"] = df["Mag"].str.replace("[\(\[].*?[\)\]]","")

In [26]:
for i in range(0,len(df)):
    try:
        text = df.loc[i,"Mag"]
        numbers = re.findall(r"[-+]?\d*\.\d+|\d+", str(text))
        numbers_f = list(map(float, numbers))
        num = max(numbers_f)
        df["Mag"].loc[i] = num
    except:
        df["Mag"].loc[i] = np.nan

In [ ]:
#df.sort_values("Mag", ascending=False).head(20)

#df["Mag"].m(skipna=False)

## Fatalities = Deaths

In [27]:
#df["Fatalities"].unique()

array([nan, 'probably thousands', '~260,000', '"thousands"', '250,000',
       '30,000', '"tens of thousands"', '70,000', '45,000',
       '45,000â200,000.', '~1,000', '150,000', '22,391', '50,000',
       '20,000', '230,000', '230,000â300,000', '"Tens of thousands"',
       '15,000', '5,000[30]-80,000 in Aleppo25,000 in Hama',
       '1,100,000 (includes famine/disease deaths)', '60,000', '100,000',
       '23,024', 'up to 10,000', 'Not known', '10,000', '1,000', '1,000s',
       '31,000', '30% of Nepalese population', '830,000+', '70â200',
       'Unk', 'thousands', '3,000', '12,000', '0', '80,000', '42,578',
       '8,000', '2,347', '5,000', 'est. 10,000', '~13', '2,000+', '6,000',
       '52,600â176,365', '28', '6,240â9,761', '2,500â5,000', '5,233',
       '5,000+', '73,000', '~80,000', '100s', '>50,000', '4,000â5,000',
       '1,20040,000[80]', 'Unknown', '200', '83', '4,000', '200+',
       '5â600', '40,000-200,000', '35,000', '~100,000', '~200,000',
       '41,000', '300', '3 in Bucharest', '2,000', '15,000â20,000', '40',
       '1-2', '>1,543', '~500', '"numerous victims"', '6,000â7,000',
       '700-4,000', '300-500', '1,500-5,000', 'more than 8,600', '60+',
       '4', '~ 7,000', '600+', '1', '11,000', '905', '~30', '77',
       '25,000', '30', '27', '2,541', '7,866', '1,200', '600', '60',
       '600â3,000', '20', '7,273', '18,000', '22,000+', '1,500', '13',
       '140', '2', '4,882', '3,500', '145', '557â5,000', '1,266', '3,882',
       '2,188', '800-1,000', '12,000-15,000', '167', '82,000', '46',
       '452', '90', '45', '12', '216', '94', '2,344', '32,610', '250',
       '52', '116', '648', '130', '171', '400', '273,000+[23]', '143,000',
       '354', '2,956', '40,900', '500', '50', '25', '279', '64', '17',
       '558', '1,404', '272', '36', '258', '2,450', '2,890', '75', '491',
       '275', '2,990', '115', '9,300', '10,700', '5', '3,276', '34',
       '160', '32,700', '9', '358', '38', '16', '336', '213',
       '8,000-10,000', '3,959', '1,223', '165', '2,550', '1,330', '800',
       '3,769', '110,000', '8', '7,200', '450', '4,800', '2,336', '973',
       '1,070', '476', '3', '6', '1,409', '23', '18', '728', '67', '125',
       '5,700', '12,225', '1,100', '26', '71', '280', '7', '157', '8,064',
       '2,396', '89', '236', '29', '53', '10', '1,086', '82', '65', '85',
       '5,374', '78', '5.300', '2,041', '2,385', '23,000', '989', '5,400',
       '573', '242,419', '4,791', '3,840', '180', '28[82]', '136',
       '2,735', '305', '150', '2,800', '267', '1,342', '177', '709',
       '938', '274', '120', '63', '40,000', '1,621', '270', '768', '652',
       '545', '2,500', '230', '9,748', '57', '207', '6,434', '1,995',
       '49', '322', '108', '14', '1,567', '56', '81', '11', '105',
       '4,500', '146', '2,183', '1,900', '103', '17,127', '143', '2,415',
       '894', '944', '20,085', '315', '74 dead 64 missing',
       '3 dead 1 missing', '44', '166', '15', '261', '19', '2,266',
       '26,271', '37', '24', '631', '35', '32', '227,898', '612', '1,313',
       '87,351', '70', '5,782', '730', '22', '54', '3 dead 7 missing',
       '519', '69,197 dead 18,392 missing', '43', '215',
       '34 dead 64 missing', '308', '79', '189', '1115',
       '160,000[A]~316,000[B]', '7 dead 1 missing', '525 dead 25 missing',
       '42', '2,698 dead 270 missing', '408 dead 303 missing', '185',
       '18,184 dead 2,668 missing', '111', '604', '51 dead 62 missing',
       '306', '39', '26 dead 12 missing', '8 dead 1 missing',
       '13 dead 5 missing', '193 dead 24 missing', '35 dead 8 missing',
       '95', '825', '222 dead 8 missing', '617 dead 112 missing', '9,018',
       '218', '14 dead 6 missing', '398', '117', '673 dead 9 missing',
       '299', '104', '98', '370', '630', '513', '41',
       '4,340 dead 667 missing', '24 dead3 missing', '119',
       '2,248 dead329 missing'], dtype=object)

In [28]:
#df["Deaths"] = df["Fatalities"].str.replace("[\(\[].*?[\)\]]","")
df["Deaths"] = df["Fatalities"].str.replace(",","")

In [29]:
for i in range(0,len(df)):
    try:
        text = df.loc[i,"Deaths"]
        numbers = re.findall(r"[-+]?\d*\.\d+|\d+", str(text))
        numbers_f = list(map(float, numbers))
        num = max(numbers_f)
        df["Deaths"].loc[i] = num
    except:
        df["Deaths"].loc[i] = np.nan

In [ ]:
#filtered_df = df[df['Deaths'].isnull()]
#filtered_df = filtered_df[filtered_df['Fatalities'].notnull()]
#filtered_df

In [30]:
df["Deaths"].loc[[6,8,9,50,123]] = 1000
df["Deaths"].loc[[13,25]] = 10000
df["Deaths"].loc[84] = 40000
df["Deaths"].loc[42] = np.nan

In [36]:
#df["Deaths"].unique()
#df.sort_values("Deaths", ascending=False).head(10)

In [ ]:
df['Country'].loc[df['Country']=="United States"] = 'United States of America'

In [37]:
df.head(10)

,Date,Time,Place,Latitude,Longitude,Fatalities,Magnitude,Comments,Sources,Country,Year,Mag,Deaths
0,1831 BC or 1731 BC or 1652 BC,NaN,Xia China,N 34.2705Â°,E 108.92512Â°,NaN,NaN,Listed in the Bamboo Annals,[1][2],China,-1652,NaN,NaN
1,464 BC,NaN,"Sparta, Greece",NaN,NaN,NaN,7.2 (approx),Ms Led to a helot uprising and strained relati...,[3],Greece,-464,7.2,NaN
2,226 BC,NaN,"Rhodes, Greece",NaN,NaN,NaN,â,Destroyed Colossus of Rhodes and city of Kameiros,[4],Greece,-226,NaN,NaN
3,60 BC,NaN,Portugal and Galicia coasts,NaN,NaN,NaN,8.5,Caused a tsunami,[5],Portugal,-60,8.5,NaN
4,17 AD,At night,Asia minor,37.85,27.3,NaN,NaN,Destroyed 13 cities in Asia (minor),Described by the historians Tacitus and Pliny ...,Turkey,17,NaN,NaN
5,"February 5, 62 AD",NaN,"Bay of Naples, Italy",NaN,NaN,NaN,5â6,"Brought down a large part of Pompeii, caused s...","Seneca describes it in his ""Quaestiones Natura...",Italy,62,6.0,NaN
6,110 AD,NaN,"Dian Kingdom, Yunnan, southwestern China",NaN,NaN,probably thousands,â,Flooded administrative centre of the Dian Kingdom,[7],China,110,NaN,1000
7,"December 13, 115 AD",NaN,Antioch,36.1,36.1,"~260,000",7.5,Ms,[8],Syria,115,7.5,260000.0
8,"May 18, 363 AD",NaN,Syria,NaN,NaN,"""thousands""",~7,"Destruction also in ""The Holy Land"", Petra",Ammianus Marcellinus[9] and numerous other lat...,Syria,363,7.0,1000
9,"July 21, 365 AD",NaN,Crete (Greece),NaN,NaN,"""thousands""",8.5+,Destruction also in Cyrene & Alexandria (by ts...,Ammianus Marcellinus[9] and numerous other lat...,Greece,365,8.5,1000

In [41]:
#df.to_csv("data/07 df_earthquakes_clean.csv")

In [38]:
#df['Country'].sort_values().unique()

In [40]:
#df.groupby('Country').count().sort_values('Date', ascending=False).head(20)